#canvas{
	display:block;
	border:1px solid #ccc;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-300px;
	background:#ccc;
 
	/*background-image: url(../images/bg.png);*/
 }
 .reset{
 	position:absolute;
 	left:10%;
 	top:30%;
 	background:red;
 	width:80px;
 	height:30px;
 	border:none;
 }
.regret{
	position:absolute;
	left:10%;
 	top:50%;
	width:80px;
 	height:30px;
 	border:none;
 	background:red;

}




